.sgn-google-form .md-form.sgngf-radiobox > label {
	  font-size: 1.1rem !important;
    transform: translateY(-27px) translateX(-2px);
}
.sgn-google-form .md-form.sgngf-radiobox > label:not(.active){
	padding-left: .3rem;
	padding-right: .3rem;
}
.sgn-google-form .md-form.sgngf-radiobox.active > label{
	transform: scale(.75) translateY(-36px) translateX(-8px);
}
.sgn-google-form .md-form.sgngf-radiobox .form-check{
	margin-left: .7rem;
	margin-right: .7rem;
}
.sgn-google-form .md-form.sgngf-radiobox .form-check:first-child{
	margin-top: .7rem;
}
.sgn-google-form .md-form.sgngf-radiobox .form-check:last-child{
	margin-bottom: .7rem;
}
.sgn-google-form .md-form.sgngf-radiobox .form-check > .form-check-label{
	color: #202124;
	top: 0;
}
