/** LARGE **/
.sgn-google-form .md-form.form-lg > .prefix,
.sgn-google-form .md-form.form-lg > .suffix{
  height: 48px;
  width: 48px;
  font-size: 3rem;
  padding: 0px;
  margin: .5rem 0 0 .5rem;
}
.sgn-google-form .md-form.form-lg > .suffix{
  margin-right: .3rem;
  margin-left: 0;
}
.sgn-google-form .md-form.form-lg > .form-control{
  height: 62px;
  padding: 0;
  font-size: 2em;
}
.sgn-google-form .md-form.form-lg > .prefix ~ .form-control{
  margin-left: 3.55rem; /*((prefix width + prefix margin-left+margin-right) + (prefix padding-left+padding-right) + 0.8px)*/
  width: calc(100% - (3.55rem + 0px + (0px + 0rem + 0px))); /* (100% - (input margin-left + input padding-left + (prefix/suffix-padding-left + prefix/suffix-margin-left/right + prefix/suffix-width))) */
}
.sgn-google-form .md-form.form-lg > .suffix ~ .form-control{
  width: calc(100% - (3.55rem + 0px + (0px + .5rem + 48px))); /* (100% - (input margin-left + input padding-left + (prefix/suffix-padding-left + prefix/suffix-margin-left/right + prefix/suffix-width))) */
}
.sgn-google-form .md-form.form-lg > label:not(.active):not(.edited){
  margin-left: 2rem; /*((prefix width + prefix margin-left+margin-right) + (prefix padding-left+padding-right)) - (padding-left / 2)*/
  padding: 0;
  top: .7rem;
  font-size: 1.5rem;
}
.sgn-google-form .md-form.form-lg > .prefix ~ label:not(.active):not(.edited){
  padding: 0;
  padding-left: 1rem;
  margin-left: 3.55rem; /*(((prefix width + prefix margin-left+margin-right) + (prefix padding-left+padding-right)) + (prefix+suffix border-left/right) - 0.8px) -> (((34px + .4rem+0px) + (4px+4px)) + (1px+1px) - 0.8px)*/
  width: calc(100% - ((3.55rem + 0px + (0px + 0rem + 0px)) - 0px)); /* (100% - ((label margin-left + prefix/suffix border-left/right + (prefix/suffix-padding-left + prefix/suffix-margin-left/right + prefix/suffix-width)) - 0.8px)) */
}
.sgn-google-form .md-form.form-sm > .suffix ~ label:not(.active):not(.edited){
  width: calc(100% - ((3.55rem + 0px + (0px + .25rem + 48px)) - 0px)); /* (100% - ((label margin-left + prefix/suffix border-left/right + (prefix/suffix-padding-left + prefix/suffix-margin-left/right + prefix/suffix-width)) - 0.8px)) */
}
.sgn-google-form .md-form.form-lg > label.active,
.sgn-google-form .md-form.form-lg > label.edited{
  transform: scale(.75) translateY(-36px) translateX(-0px);
}
.sgn-google-form .md-form.form-lg > label.active{
  color: #1a73e8;
}
.sgn-google-form .md-form.form-lg > label.active,
.sgn-google-form .md-form.form-lg > label.edited{
  font-size: 1.5rem;
}
.sgn-google-form .md-form.form-lg > .prefix + label.active,
.sgn-google-form .md-form.form-lg > .prefix + label.edited {
  transform: scale(.8) translateY(-30px) translateX(-0px);
}
.sgn-google-form .md-form.form-lg.waiting > .icon{
  transform: scale(1);
  top: .5rem !important;
  right: -0rem;
  padding: 0;
  margin: 0
}
.sgn-google-form .md-form.form-lg.waiting > .icon:before{
  margin-left: .3em;
  margin-top: .3em;
}
.sgn-google-form .md-form.form-lg.valid > .icon:before,
.sgn-google-form .md-form.form-lg.valid > .icon:after{
  right: -.7em;
  top: .5em;
  height: 7px;
}
.sgn-google-form .md-form.form-lg.valid > .icon:before{
  width: 21px;
  margin-left: -23px;
  margin-top: 5px;
}
.sgn-google-form .md-form.form-lg.valid > .icon:after{
  width: 35px;
  margin-left: -13px;
  margin-top: -10px;
}
.sgn-google-form .md-form.form-lg.invalid > .icon:before,
.sgn-google-form .md-form.form-lg.invalid > .icon:after{
  right: -.4em;
  top: .15em;
  height: 8px;
  width: 48px;
  margin-left: -16px;
}
.sgn-google-form .md-form.form-lg.invalid > .icon:before{
  margin-top: 10px;
}
.sgn-google-form .md-form.form-lg.invalid > .icon:after{
  margin-top: -7px;
}
/* WITH BORDERS */
.sgn-google-form.with-borders .md-form.form-lg > .prefix ~ .form-control{
  margin-left: 4rem;
}
.sgn-google-form.with-borders .md-form.form-lg > .form-control{
  height: 62px;
  padding: 0 0px 0 0px;
}
.sgn-google-form.with-borders .md-form.form-lg .prefix ~ .form-control{
  width: calc(100% - (4rem + 0px + (0px + 0rem + 0px))); /* (100% - (input margin-left + (input padding-left+right) + (prefix/suffix-padding-left + prefix/suffix-margin-left/right + prefix/suffix-width))) */
}
.sgn-google-form.with-borders .md-form.form-lg .suffix ~ .form-control{
  width: calc(100% - (4rem + 0px + (8px + .5rem + 44px))); /* (100% - (input margin-left + (input padding-left+right) + (prefix/suffix-padding-left + prefix/suffix-margin-left/right + prefix/suffix-width))) */
}
.sgn-google-form.with-borders .md-form.form-lg > label{
  margin-left: 4.5rem; /*((prefix width + prefix margin-left+margin-right) + (prefix padding-left+padding-right)) - (padding-left / 2)*/
  top: 1rem;
  font-size: 1.2rem !important;
  padding: 0 8px 0 8px;
}
.sgn-google-form.with-borders .md-form.form-lg > label.active{
  transform: scale(.9) translateY(-34px);
  color: #1a73e8;
}
.sgn-google-form.with-borders .md-form.form-lg > .prefix + label.active {
  transform: scale(.9) translateX(-8px) translateY(-34px);
}
.sgn-google-form.with-borders .md-form.form-lg > .icon{
  transform: scale(1);
  top: 2px !important;
  right: -7px;
}